@using Ferrous.Models
@model Ferrous.Models.ContingentArrival

@functions {
    int mattress(ContingentArrival ca, string sex) {
        // FIXME: HANDLE PARTIAL HERE
        int count = 0;
        foreach (RoomAllocation roomA in ca.RoomAllocation) {
            if (roomA.Partial < 0 && roomA.Room.LocationNavigation.Sex == sex) {
                count += roomA.Room.Mattresses;
            }
        }
        return count;
    }
}

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Room Bill #@Model.ContingentArrivalNo</title>
    <style>
        html, body {
            font-size: 12pt;
            font-family: "Times New Roman", Times, serif
        }

        table, th, td {
            font-size: 12pt;
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 6px;
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
        }

        ul.minos {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
            list-style-type: none;
            max-width: 315px;
            padding: 3px;
            margin-top: 0;
            border: 1px solid black;
        }

        .big {
            font-size: 14pt
        }

        .pagebreak { page-break-before: always; } /* page-break-after works, as well */
    </style>
</head>

<body>
    <h1>Room Bill (Boys)</h1>
    <div class="big">
        Contingent Leader MI Number - <b>@Model.ContingentLeaderNo </b>
        <br>

        Boys (online payment) - <b>@Model.Male</b> <br />
        Boys (on-spot Payment) - <b>@Model.MaleOnSpot</b> <br />
        Boys (total) - <b>@(@Model.Male + @Model.MaleOnSpot)</b> <br />

    </div>

    <br>

    <table>
        <thead>
            <tr>
                <th>Location</th>
                <th>Room</th>
                <th>Lock no.</th>
            </tr>
        </thead>

        <tbody>
        @foreach(var roomA in @Model.RoomAllocation){
            @if(roomA.Room.LocationNavigation.Sex != "F") {
                <tr>
                    <td>@roomA.Room.Location</td>
                    <td>@roomA.Room.RoomName</td>
                    <td>@roomA.Room.LockNo</td>
                </tr>
            }
        }
        </tbody>
    </table>

    <br>

    <span class="big">MI Numbers with online payment:</span>

    <ul class="minos">
    @foreach(var person in @Model.CAPeople){
        @if(person.Sex != "F") {
            <li>@person.Mino</li>
        }
    }
    </ul>

    <span class="big">No. of Mattress: <b>@mattress(@Model, "M")</b></span>
    (exluding partial allotments)

    @if(Model.MaleOnSpot > 0 || Model.FemaleOnSpot > 0) {
        <text>
        <h2>On-Spot Payment</h2>
        <div style="font-size: 14pt">
            @Model.MaleOnSpot x &#8377;2000 = <b>&#8377;@(@Model.MaleOnSpot*2000)</b> (M)
            <br>
            @Model.FemaleOnSpot x &#8377;2000 = <b>&#8377;@(@Model.FemaleOnSpot*2000)</b> (F)
        </div>
        <br>

        <div style="font-size: 16pt">
            Total: <b>
                &#8377;@((@Model.FemaleOnSpot + @Model.MaleOnSpot) * 2000)
            </b>
        </div>
        </text>
    }

    <br>
    <span style="color:blue">Token Number: #@Model.ContingentArrivalNo, @Model.CreatedOn</span>

    <div class="pagebreak"> </div>

</body>
</html>