@using Ferrous.Models
@using Ferrous.Misc
@model Ferrous.Models.ContingentArrival

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Room Bill #@Model.ContingentArrivalNo</title>
    <style>
        html, body, table {
            font-size: 10pt;
        }

        table {
            margin-right: 30px;
        }

        .column {
            width: auto !important;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 1px 15px;
            text-align: center;
        }

        ul.minos {
            -webkit-column-count: 10;
            -moz-column-count: 10;
            column-count: 10;
            list-style-type: none;
            max-width: 700px;
            padding: 3px;
            margin-top: 0;
            border: 1px solid black;
            font-size: 0.8em;
        }

        .big {
            font-size: 1.05em;
        }

        h1 {
            font-size: 1.3em;
            margin-bottom: 4px;
        }

        .logo {
            height: 60px;
        }

        .pagebreak { page-break-before: always; } /* page-break-after works, as well */
    </style>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery.columnizer.min.js"></script>
</head>

<body>
    @if (@Model.Male + @Model.MaleOnSpot > 0) {
        @Html.Partial("BillM.cshtml")
    }

    @if (@Model.Male + @Model.MaleOnSpot > 0 && @Model.Female + @Model.FemaleOnSpot > 0) {
        <div class="pagebreak"> </div>
    }

    @if (@Model.Female + @Model.FemaleOnSpot > 0) {
        @Html.Partial("BillF.cshtml")
    }

    <script>
        $('.col-2').each(function() {
            var count = $(this).find('tr').length;
            if (count > 10 && count <= 18) {
                $(this).columnize({ columns: 2 });
            } else if (count > 18) {
                $(this).columnize({ columns: 3 });
            }
        })
    </script>
</body>
</html>