@model Ferrous.Models.ContingentArrival
@functions {
    int amount() {
        return 1999;
    }

    int amountOS() {
        return 2000;
    }
}

<br/><br/>
<b>Amount paid online: </b><br/>
@Model.Male x &#8377;@amount() = &#8377;@(@Model.Male*amount()) (Male)<br/>
@Model.Female x &#8377;@amount() = &#8377;@(@Model.Female*amount()) (Female) <br/>
Total: <b>&#8377;@((@Model.Male + @Model.Female)*amount())</b> <br/>

@if(Model.MaleOnSpot > 0 || Model.FemaleOnSpot > 0) {
    <text>
    <b>On-spot payment: </b><br/>
    <div>
        @Model.MaleOnSpot x &#8377;@amountOS() = &#8377;@(@Model.MaleOnSpot*amountOS()) (Male)
        <br>
        @Model.FemaleOnSpot x &#8377;@amountOS() = &#8377;@(@Model.FemaleOnSpot*amountOS()) (Female)
    </div>

    <div style="font-size: 1.1em">
        Total on-spot payment: <b>
            &#8377;@((@Model.FemaleOnSpot + @Model.MaleOnSpot) * amountOS())
        </b>
    </div>
    </text>
}

Total Amount: <b>&#8377;@((@Model.Male + @Model.Female)*amount() + (@Model.MaleOnSpot + @Model.FemaleOnSpot)*amountOS())</b> <br/>
Booklets Issued: <b>@(@Model.Male + @Model.Female + @Model.MaleOnSpot + @Model.FemaleOnSpot)</b> <br/>
